header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.map-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.map-size-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-create {
  background: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  margin-left: 10px;
  cursor: pointer;
}

input[type="text"] {
  width: 10ch;
  padding: 2px 4px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.robot-position-current {
  margin: 0 5px;
}

.robot-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

.robot-position p {
  padding: 0;
}

#robot-position-Y {
  margin-left: 5px;
}

label {
  font-size: 1rem;
}

#mapX,
#mapY {
  font-size: 1rem;
  text-align: center;
  border: none;
  color: #fff;
  border-bottom: 0.5px solid #fff;
  background-color: transparent;
  padding: 0.5rem;
  margin: 0.5rem;
}

#mapX,
#mapY[type="number"]::-webkit-inner-spin-button,
#mapX,
#mapY[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#mapX,
#mapY:focus {
  outline: none;
}

.map-container,
.robot-commands {
  margin-top: 20px;
}

.robot-commands {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
}

.table-container {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 0.7;
}

.celula {
  text-align: center;
  height: 80px;
  width: 80px;
  border-style: solid;
  border-color: coral;
  background-size: 100%;
}

tbody {
  display: flex;
  flex-direction: column-reverse;
}

img {
  height: 50px;
  width: 45px;
}

.left {
  transform: rotate(270deg);
}

.right {
  transform: rotate(180deg);
}

.robot-command-container {
  text-align: center;
  border: 1px solid lightgray;
  padding: 5px 10px;
  margin-top: 20px;
}

.robot-command-instruction {
  font-size: 1rem;
  font-weight: bold;
}

.btn-move,
.robot-sendCommand {
  width: max-content;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
}

.btn-move:nth-child(odd) {
  position: relative;
  top: 40px;
}

@media screen and (max-width: 768px) {
  .map-size-text {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .celula {
    width: 40px;
    height: 40px;
  }

  img {
    height: 25px;
    width: 25px;
  }

  label {
    font-size: 1rem;
  }

  span {
    font-size: 1rem;
  }
}
