main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.celula {
  text-align: center;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-color: coral;
  background-size: 100%;
}

tbody {
  display: flex;
  flex-direction: column-reverse;
}

img {
  height: 50px;
  width: 50px;
}
