h1 {
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 80px;
  height: 80px;
  background-color: lightcoral;
  border: 1px solid black;
  border-collapse: collapse;
}

.game-table {
  display: grid;
}

button {
  margin: 20px;
  padding: 10px;
}
